{%load static%}
<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'dist/css/AddProject.css'%}">
    <title>Project Details Page</title>
</head>

<body>


    <!-- Form-->
    <div class="form">
        <div class="form-toggle"></div>
        <div class="form-panel one">
            <div class="form-header">
                <h1>Project Details</h1>
            </div>
            <div class="form-content">
                <form>
                    <div class="form-group">
                        <div id="head"  class="name" style="padding-top: 10px;">Project ID</div>
                        <div class="value">
                          <div class="input-group">
                            <input
                              class="input--style-5"
                              type="text"
                              name="pid"
                              placeholder="Project ID"
                            />
                          </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="head"  class="name" style="padding-top: 10px;">Project Name</div>
                        <div class="value">
                          <div class="input-group">
                            <input
                              class="input--style-5"
                              type="text"
                              name="pname"
                              placeholder="Project Name"
                            />
                          </div>
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <div id="head" class="name" style="padding-top: 10px;">Department</div>
                        <div class="value">
                          <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                              <select
                                id="subject"
                                name="subject"
                                style="width: 210px; height: 40px"
                              >
                                <option disabled="disabled" selected="selected">
                                  Choose option
                                </option>
                                <option>Department 1</option>
                                <option>Department 2</option>
                                <option>Department 3</option>
                              </select>
                              <div class="select-dropdown"></div>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div id="head" class="name" style="padding-top: 10px;">Start Date of Project</div>
                        <div class="value">
                          <div class="input-group">
                            <input
                              class="input--style-5"
                              type="text"
                              name="sop"
                              placeholder="yyyy-mm-dd"
                            />
                          </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div id="head" class="name" style="padding-top: 10px;">End Date of Project</div>
                        <div class="value">
                          <div class="input-group">
                            <input
                              class="input--style-5"
                              type="text"
                              name="eop"
                              placeholder="yyyy-mm-dd"
                            />
                          </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <div id="head" class="name" style="padding-top: 10px;">Location</div>
                        <div class="value">
                          <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                              <select
                                name="subject2"
                                style="width: 210px; height: 40px"
                              >
                                <option disabled="disabled" selected="selected">
                                  Choose option
                                </option>
                                <option>Location 1</option>
                                <option>Location 2</option>
                                <option>Location 3</option>
                              </select>
                              <div class="select-dropdown"></div>
                            </div>
                          </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <div id="head" class="name" style="padding-top: 5px;">Project Team</div>
                        <div class="value proTeam">
                          <legend><b>Choose the employees: </b></legend>
        
                          
                          <select name="employees" id="employees" required>
                            <option value="">---Select Employees---</option>
                            {% for all_emp in all_emp %} 
                              <option value="{{ all_emp.EID }}">{{ all_emp }}</option>
                            {% endfor %}
                          </select>
                         
                        </div>
                        
                    <button id="teambutts" type="button" style="margin-right: 20%;">Add</button>
                    </div>
                   
                   
                
                <div class="form-group">
                    <div style="margin-left: 305;" id="head" class="name" style="padding-top: 10px;">Project Description</div>
                    <div class="value">
                      <div class="input-group">
                        <textarea
                          class="input--style-5"
                          type="text"
                          name="remarks"
                          rows="2"
                          cols="30"
                        >
                        </textarea>
                      </div>
                    </div>
                </div>
            </form>
            
            <div class="form-group">  
                
                <button class="btn btn--radius-2 btn--red" type="submit" style="width: 50%;">
                    Save as draft
                  </button>
                <button class="btn btn--radius-2 btn--red" type="submit">
                  Submit
                </button>
                
              </div>
            
            </div>
        </div>
       
    </div>
   


</body>

</html