{% extends 'index.html' %}

{% block title %}
    <title>Qualification Details</title>
{% endblock title %}

{% block content %}

<section id="empdeets">
    <form class="signup-form" method="post" action="{% url 'education' name %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-header">
            <h1>Education Details</h1>
        </div>
        <div class="form-body">
            <div class="row">
                <div class="input-group">
                    <label>SL NO</label>
                    <input type="text" name="sl" id="sno">
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Qualification</label>
                    <input type="text" name="qual" id="qual">
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Board</label>
                    <input type="text" name="board" id="board">
                </div>
            </div>
            <div class="row">
                <div class="input-group">
                    <label>Percentage</label>
                    <input type="text" name="percentage" id="%">
                </div>
            </div>  
            <div class="row">
                <div class="input-group">
                    <label>Year Of Passing</label>
                    <input type="text" name="yop" id="yop">
                </div>
            </div>
            <button class="btn" type="submit">Add</button>
            <table>
                <thead>
                    <tr>
                        <th>SL NO</th>
                        <th>Qualification</th>
                        <th>Board</th>
                        <th>Percentage</th>
                        <th>Year Of Passing</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
        
                </tbody>
            </table>
        </div>
        <div class="form-footer">
            <div id="save"><button  class="btn"  type="reset">Save as Draft</button></div>
            <div id="next"><a href="{% url 'family' name %}"><button class="btn" type="button">Next</button></a></div>   
        </div>
    </form>
   
</section>

<script>
const formEl = document.querySelector("form");
const tbodyEl = document.querySelector("tbody");
const tableEl = document.querySelector("table");
function onAddWebsite(e) {
  e.preventDefault();
  const srno = document.getElementById("sno").value;
  const quala = document.getElementById("qual").value;
  const brd = document.getElementById("board").value;
  const percent = document.getElementById("%").value;
  const yrofpass = document.getElementById("yop").value;
  tbodyEl.innerHTML += `
      <tr>
          <td>${srno}</td>
          <td>${quala}</td>
          <td>${brd}</td>
          <td>${percent}</td>
          <td>${yrofpass}</td>
          <td><button class="deleteBtn">Delete</button></td>
      </tr>
  `;
}

function onDeleteRow(e) {
  if (!e.target.classList.contains("deleteBtn")) {
    return;
  }

  const btn = e.target;
  btn.closest("tr").remove();
}

formEl.addEventListener("submit", onAddWebsite);
tableEl.addEventListener("click", onDeleteRow);
</script>

{% endblock %}