{% extends 'index.html' %}

{% block title %}
    <title>Emplyoment History</title>
{% endblock title %}

{% block content %}
    <section id="empdeets">
        <form class="signup-form" method="post" action="{% url 'history' name %}" enctype="multipart/form-data" id="history">
            {% csrf_token %}
            <div class="form-header">
                <h1>Employment History</h1>
            </div>
            <div class="form-body">
                <div class="row"></div>
                    <div class="input-group">
                        <label>Organisation</label>
                        <input type="text" name="org" id="org">
                    </div>
                <div class="row">
                    <div class="input-group">
                        <label>Designation</label>
                        <input type="text" name="designation" id="desig">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <label>Work</label>
                        <input type="text" name="nature" id="work">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <label>Tools</label>
                        <input type="text" name="software" id="softy">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <label>Last Salary</label>
                        <input type="text" name="lsalary" id="lsalary">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <label for="">Reason of Leaving</label>
                        <textarea  type="text" name="reason" id="rol"> </textarea>
                    </div>
                </div>
                <button class="btn" type="submit">Add</button>
                <table>
                    <thead>
                        <tr>
                            <th>Organisation</th>
                            <th>Designation</th>
                            <th>Work</th>
                            <th>Soft</th>
                            <th>Last Salary</th>
                            <th>Reason of leaving</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
            
                    </tbody>
                </table>  
            </div>
            <div class="form-footer">
                <div id="save"><button id="save" class="btn" type="button">Save as Draft</button></div>
                <div id="next"></div><a href="{% url 'dashboard' name %}"><button class="btn" type="button">Submit</button></a></div>             
            </div>
        </form>
    </section>

    <script>
        const formEl = document.querySelector("form");
        const tbodyEl = document.querySelector("tbody");
        const tableEl = document.querySelector("table");
        function onAddWebsite(e) {
          e.preventDefault();
          const orga = document.getElementById("org").value;
          const desiga = document.getElementById("desig").value;
          const worka = document.getElementById("work").value;
          const soft = document.getElementById("softy").value;
          const lsalarya = document.getElementById("lsalary").value;
          const rola = document.getElementById("rol").value;
          tbodyEl.innerHTML += `
              <tr>
                  <td>${orga}</td>
                  <td>${desiga}</td>
                  <td>${worka}</td>
                  <td>${soft}</td>
                  <td>${lsalarya}</td>
                  <td>${rola}</td>
                  <td><button class="deleteBtn">Delete</button></td>
              </tr>
          `;
        }
    
        function onDeleteRow(e) {
          if (!e.target.classList.contains("deleteBtn")) {
            return;
          }
    
          const btn = e.target;
          btn.closest("tr").remove();
        }
    
        formEl.addEventListener("submit", onAddWebsite);
        tableEl.addEventListener("click", onDeleteRow);
      </script>

    <script>
        const formId = "history"; // ID of the form
        const url = location.href; //  href for the page
        const formIdentifier = `${url} ${formId}`; // Identifier used to identify the form
        const saveButton = document.querySelector("#save"); // select save button
        const alertBox = document.querySelector(".form-header"); // select alert display div
        let form = document.querySelector(`#${formId}`); // select form
        let formElements = form.elements; // get the elements in the form

        const getFormData = () => {
            let data = { [formIdentifier]: {} };
            for (const element of formElements) {
                if (element.name.length > 0) {
                    data[formIdentifier][element.name] = element.value;
                }
            }
            return data;
        };

        saveButton.onclick = event => {
            event.preventDefault();
            data = getFormData();
            localStorage.setItem(formIdentifier, JSON.stringify(data[formIdentifier]));
            const message = "Form draft has been saved!";
            displayAlert(message);
        };

        const displayAlert = message => {
            alertBox.innerText = message;
            alertBox.style.display = "block";
            setTimeout(function () {
                alertBox.style.display = "none";
            }, 1000);
        };

        const populateForm = () => {
            if (localStorage.key(formIdentifier)) {
                const savedData = JSON.parse(localStorage.getItem(formIdentifier)); // get and parse the saved data from localStorage
                for (const element of formElements) {
                    if (element.name in savedData) {
                        element.value = savedData[element.name];
                    }
                }
                const message = "Form has been refilled with saved data!";
                displayAlert(message);
            }
        };

        document.onload = populateForm(); // populate the form when the document is loaded
    </script>
{% endblock content %}