{% extends 'index.html' %}

{% block content %}
<div class="content icon-content">
    <div class="container icon-container">
      <h3 class="icon-heading">Quick Launch</h3>
      <div class="icon-bar">
        <a class="active" href="#"><i class="fas fa-hand-pointer fa-2x"></i><span>Time In/Out</span></a>
        <a href="#"><i class="fa-solid fa-copy fa-2x"></i><span>My Attendance Record</span></a>
        <a href="#"><i class="fa-solid fa-calendar-minus fa-2x"></i><span>My Leave List</span></a>
        <a href="#"><i class="fa-solid fa-file-invoice-dollar fa-2x"></i><span>My Payslips</span></a>
        <a href="#"><i class="fa-solid fa-calendar-check fa-2x"></i><span>Apply Leave</span></a>
        <a href="#" class="timesheet-icon"><i class="fa-solid fa-calendar-days fa-2x"></i><span>My Timesheet</span></a>
        <a href="#" class="team-icon"><i class="fa-solid fa-people-group fa-2x"></i><span>My Team</span></a>
      </div>
    </div>
    <hr>
    <div class="container icon-container">
      <h3 class="icon-heading">Pending My Approval</h3>
      <div class="icon-bar">
        <a class="active" href="#"><i class="fa-solid fa-file-circle-check fa-2x"></i><span>Leave</span></a>
        <a href="#"><i class="fa-solid fa-user-check fa-2x"></i><span>Attendance Regularization</span></a>
        <a href="#"><i class="fa-solid fa-business-time fa-2x"></i><span>Timesheet</span></a>
      </div>
    </div>
    <div>
      Plot1
      {{ photo|safe }}
    </div>
    <div>
      Plot2
      {{ photo1|safe }}
    </div>
  </div>
{% endblock %}