{%load static%}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>

    {% block title %}{% endblock title %}

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{%static 'dist/css/base.css'%}">
    <link rel="stylesheet" href="{%static 'dist/css/empdeets.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        
    
  </head>
  <body>

    <div class="topnav">
      <div class="topnav-right">
        <a href="#notification"><button class="right-btn"><i class="fa-solid fa-bell"></i></button></a>
        <a href="#settings"><button class="right-btn"><i class="fa-solid fa-gear"></i></button></a>
        <a href="#user"><button class="right-btn"><i class="fa-solid fa-user"></i></button></a>
      </div>

    <div class="sidebar">
      <input type="checkbox" id="btn" hidden>
      <label for="btn" class="menu-btn">
        <i class="fa-solid fa-bars"></i>
      </label>
      <nav id="sidebar">
        <div id="logo"><img src="{%static 'assets/img/logo.png' %}"></div>
        <div class="title">Indval Technologies</div>
        <ul class="list-items">
          <li><a href="#"></i><button class="drpdwn-btn">Actions</button></a>
            <div class="drpdwn-con"><ul style=" list-style-type: none;">
              <li id="rocket"><a href="#"><span class="material-symbols-outlined">
                rocket_launch
                </span>Quick Launch</a></li>
              <li><a href="#"><span class="material-symbols-outlined">
                pending_actions
                </span>Pending Approval</a></li></ul>
            </div></li>
          <li><a href="#"><button class="drpdwn-btn">Time</button></a>
            <div class="drpdwn-con">
            <ul style=" list-style-type: none;">
              <li><a href="#"><span class="material-symbols-outlined">
                event_upcoming
                </span>In & Out</a></li>
              <li><a href="#"><span class="material-symbols-outlined">
                calendar_month
                </span>My Attendace Record</a></li>
              <li><a href="#"><span class="material-symbols-outlined">
                manage_history
                </span>Regularize My Attendance</a></li>
              <li><a href="#"><span class="material-symbols-outlined">
                work_history
                </span>My Timesheet</a></li>
            </ul>
            </div></li>
          <li><a href="#"><button class="drpdwn-btn">Project</button></a>
            <div class="drpdwn-con"><ul style=" list-style-type: none;">
              <li><a href="{%url 'AddProject'%}"><span class="material-symbols-outlined">
                engineering
                </span>Add Project</a></li>
              <li><a href="{%url 'AddActivity'%}"><span class="material-symbols-outlined">
                fitness_center
                </span>Add Activity</a></li></ul>
            </div></li>
          <li><a href="{%url 'leave'%}"><span class="material-symbols-outlined">
            grading
            </span>Apply Leave</a></li>
          <li><a href="{%url 'register' name%}"><span class="material-symbols-outlined">
            assignment_ind
            </span>Employee Details</a></li>
        </ul>
      </nav>
    </div>
  </div>
    <div class="content">
      {% block content %}{% endblock content %}
    </div>
  </body>

  <script src="https://kit.fontawesome.com/9e1f75d3aa.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/9e1f75d3aa.js" crossorigin="anonymous"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</html